.PasswordShow{
    /* border: 2px solid green; */
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.PasswordShow input{
    width: 65%;
    font-size: 1.3rem;
    padding-left: 2rem;
    
}
.PasswordShow button{
    padding: 0rem 3rem;
    font-size: 2rem;
}